:root {
    /* colors */
    --primary-2: #1F1F1F;
    --primary-1: #292929;
    --primary-base: #4F4E4E;
    --primary--1: #C7C7C7;
    --primary--2: #E1E0E0;
    --primary--3: #F8F8F8;
    --primary--4: #FFFFFF;
    --active-1: #58C93A;
    --active-2: #516FAD;
  }