.main-content {
    border: 1px solid var(--primary--2);
    border-collapse: collapse;
}

.main-content .switch-pages {
    padding: 30px;
    border-top: 1px solid var(--primary--2);
}

.main-content button {
    text-transform: uppercase;
    border: 0;
    background-color: var(--primary--4);
    color: var(--primary-base);
    font-family: lato-bold, sans-serif;
}

.main-content button:hover {
    cursor: pointer;
}